# ── App ─────────────────────────────────────────────────────
PORT=3000
SESSION_SECRET=123321123

# ── Discord OAuth2 ───────────────────────────────────────────
# Buat di https://discord.com/developers/applications
DISCORD_CLIENT_ID=1502071767026499744
DISCORD_CLIENT_SECRET=k0X9tBFNhGEVNftVmc6kdKtdYTB-Nq7i
DISCORD_CALLBACK_URL=http://207.148.65.207:3000/auth/discord/callback

# ── Admin ────────────────────────────────────────────────────
# Discord ID kamu (cek di Discord: Settings > Advanced > Developer Mode > klik nama sendiri > Copy ID)
ADMIN_DISCORD_IDS=765706186381066240

# ── App URL ─────────────────────────────────────────────────
APP_URL=http:207.148.65.207:3000
